<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/rainbow" method="post">
      <button>rainbow</button>
    </form>
    <form action="/whitehot" method="post">
      <button>white hot</button>
    </form>
    <form action="/ironbow" method="post">
      <button>ironbow</button>
    </form>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
      integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript" charset="utf-8">
      var socket = io();
      socket.on("connect", function () {
        socket.emit("my_event", { data: "I'm connected!" });
      });
    </script>
  </body>
</html>
