<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        background-color: blueviolet;
      }
    </style>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='/css/button.css') }}"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Aldrich&family=Dosis&family=Geologica&family=Noto+Sans&family=Tektur:wght@500&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  </head>

  <body>
    <input class="btn" type="button" id="qưeq" value="ádasdaa" />
  </body>
</html>
